body {
  background-color: lightblue;
  font-family: verdana;
}
.button-login {
  background-color: #ffffff; /* Green */
  border: none;
  color: black;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
.button-signup {
  background-color: #4aaad0; /* Green */
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}